body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "Palanquin";
    color: var(--font-color);
    line-height: 120%;
}

main {
    flex: 1;
}

.header_main {
    height: var(--height-header-footer);
    width: 100%;
    background-color: var(--background-color-theme);
    padding-left: var(--content-padding-left);
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    .logo_main {
        height: 38px;
        width: auto;
    }

    .logo_menu {
        height: 60px;
        width: auto;
    }
}

.hero_section {
    height: 580px;
    max-width: 1440px;
    margin-bottom: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero_background {
        height: 508px;
        width: 100%;
        transform: translateY(-15%);

        .background_image {
            height: 100%;
            width: auto;
            background-image: url(./assets/img/hero_background_img.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .burger_logo {
                height: auto;
                width: clamp(120px, calc(97.143px + 7.143vw), 200px);
                border-radius: 50%;
                box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
                transform: translateY(35%);
                border: 13px solid var(--background-color-light);
            }
        }
    }

    .hero_content {
        height: 104px;
        width: 872px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 22px;

        .heading_box {
            height: 75px;
            width: 100%;
            font-family: "Palanquin Dark";
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 26px;

            h1 {
                font-weight: 700;
                font-size: clamp(2.5rem, calc(2.357rem + 0.714vw), 3rem);
                line-height: 1;

                .heading_highlight {
                    color: var(--font-color-highlight);
                }
            }

            .rating_box {
                height: 32px;
                width: 110px;
                background-color: var(--background-color-rating);
                border-radius: 4px;
                padding: 4px 5px;
                display: flex;
                align-items: center;
                gap: 8px;

                img {
                    height: auto;
                    width: 24px;
                }

                p {
                    font-size: 1.25rem;

                    .ratings {
                        font-family: "Palanquin";
                        font-size: 1.125rem;
                        color: var(--font-color-medium);
                    }
                }
            }
        }

        > p {
            font-weight: 700;
            font-size: clamp(1.375rem, calc(1.339rem + 0.179vw), 1.5rem);
        }
    }
}

.header_section {
    background-color: var(--background-color-theme);
    margin-bottom: 80px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 28px;
    padding-inline: 167px;

    img {
        height: 91px;
        width: auto;
    }

    .headline_category {
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-weight: 700;
            font-size: 2.5rem;
            color: var(--font-color-light);

            span {
                font-weight: 400;
            }
        }
    }
}

.dishes {
    height: auto;
    width: 713px;
    padding-left: 120px;
}

.footer_main {
    height: var(--height-header-footer);
    width: 100%;
    background-color: var(--background-color-theme);
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .footer_content {
        width: 530px;
        font-size: 1.125rem;
        color: var(--font-color-light);
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: var(--footer-padding-bottom);
    }

    .copyright {
        text-align: center;
        display: flex;
        align-items: center;
        gap: 4px;

        img {
            height: 24px;
            width: 24px;
        }
    }
}
