body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "Palanquin";
    color: var(--font-color);
    line-height: 120%;
}

main {
    flex: 1;
}

.header_main {
    height: var(--height-header-footer);
    width: 100%;
    background-color: var(--background-color-theme);
    padding-left: var(--content-padding-left);
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    .logo_main {
        height: 38px;
        width: auto;
    }

    .logo_menu {
        height: 60px;
        width: auto;
    }
}

.hero_section {
    .hero_background {
        height: 508px;
        width: 100%;
        max-width: 1440px;
        background-image: url(./assets/img/hero_background_img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: -59px;
    }

    .hero_content {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 22px;
        padding-inline: 284px;
        position: absolute;
        top: 304px;

        .burger_logo {
            height: 200px;
            width: auto;
            border-radius: 50%;
            border: 13px solid var(--background-color-light);
            box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        .heading_container {
            width: 872px;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding-bottom: clamp(32px, calc(26.286px + 1.786vw), 52px);

            .heading_box {
                width: 100%;
                font-family: "Palanquin Dark";
                display: flex;
                justify-content: center;
                gap: 26px;

                h1 {
                    font-weight: 700;
                    font-size: clamp(2.5rem, calc(2.357rem + 0.714vw), 3rem);

                    .heading_highlight {
                        color: var(--font-color-highlight);
                    }
                }

                .rating_box {
                    height: 32px;
                    width: 110px;
                    background-color: var(--background-color-rating);
                    border-radius: 4px;
                    padding: 4px 5px;
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    img {
                        height: auto;
                        width: 24px;
                    }

                    p {
                        font-size: 1.25rem;

                        .ratings {
                            font-family: "Palanquin";
                            font-size: 1.125rem;
                            color: var(--font-color-medium);
                        }
                    }
                }
            }

            > p {
                font-weight: 700;
                font-size: clamp(1.375rem, calc(1.339rem + 0.179vw), 1.5rem);
            }
        }
    }
}

.footer_main {
    height: var(--height-header-footer);
    width: 100%;
    background-color: var(--background-color-theme);
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .footer_content {
        width: 530px;
        font-size: 1.125rem;
        color: var(--font-color-light);
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: var(--footer-padding-bottom);
    }

    .copyright {
        text-align: center;
        display: flex;
        align-items: center;
        gap: 4px;

        img {
            height: 24px;
            width: 24px;
        }
    }
}
