.basket {
    height: 794px;
    width: 435px;
    background-color: var(--background-color-dark);
    padding-block: 60px;
    padding-left: 30px;
    padding-right: 60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: sticky;
    top: 0;
    right: 0;
}

.basket_wrapper {
    height: 676px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .basket_header {
        height: 41px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        h4 {
            text-align: center;
            font-weight: 700;
            font-size: 2rem;
            color: var(--font-color-basket);
            line-height: 1;
        }
    }

    .basket_container {
        height: fit-content;
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 36px;
    }
}

.basket_items {
    height: 355px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;

    .empty_message {
        height: 355px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 72px;
        text-align: center;

        .empty_note {
            font-weight: 500;
            font-size: 1.5rem;
            color: var(--font-color-basket);
            line-height: 1.125;
        }

        .empty_basket {
            height: 129px;
            width: auto;
        }
    }

    .item_card {
        height: fit-content;
        width: 335px;
        background-color: var(--background-color-light);
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
            font-size: 22px;
            font-weight: 700;
            line-height: 120%;
        }

        .menu_title {
            height: fit-content;
            width: 258px;
        }

        .menu_info {
            height: 29px;
            width: 300px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .menu_amount {
                height: 29px;
                display: flex;
                /* gap: 4px; */
                align-items: flex-end;

                p {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 120%;
                    width: 24px;
                    text-align: center;
                }
            }
        }
    }
}

.checkout {
    height: 208px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .subtotal_box {
        height: 56px;
        width: 320px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--font-color-light);

        .subtotal {
            display: flex;
            justify-content: space-between;
        }

        .delivery {
            display: flex;
            justify-content: space-between;
        }
    }

    .total_box {
        height: 140px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        border-top: 2px solid var(--font-color-light);

        .total {
            height: auto;
            width: 320px;
            display: flex;
            justify-content: space-between;
            font-size: 1.375rem;
            font-weight: 700;
            color: var(--font-color-light);
        }
    }
}

article.none {
    display: none;
}
