@media screen and (min-width: 1441px) {
    .header_main {
        padding: 0px max(40px, calc(50% - 720px)) 0px max(120px, calc(50% - 720px));
    }

    .content_hero {
        padding: 0px max(0px, calc(50% - 720px));
    }

    .content {
        padding: 30px max(0px, calc(50% - 720px)) 0px;
    }

    .imprint {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    nav {
        display: none;
    }

    .basket_close_btn {
        display: none;
        height: 0;
        width: 0;
    }
}

@media screen and (max-width: 1024px) {
    .logo_menu {
        display: none;
    }

    .footer_main {
        margin-bottom: 78px;

        .footer_content {
            padding-inline: 16px;
            flex-direction: column-reverse;
            gap: 8px;

            .imprint {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
    }

    .hero_section {
        height: 640px;
        margin: 0;
        gap: 106px;
        padding: 24px 16px 32px;

        .hero_background {
            height: 346px;
            transform: none;

            .background_image {
                height: 346px;
                border-radius: 16px;

                .burger_logo {
                    transform: translateY(50%);
                }
            }
        }

        .hero_content {
            gap: 10px;

            .heading_box {
                height: 97px;
                width: 320px;
                flex-direction: column-reverse;
                align-items: center;
                gap: 20px;
            }
        }
    }

    .content_wrapper {
        /* max-width: 768px; */
        flex-direction: column;
    }

    .menu_wrapper {
        width: 100%;
    }

    .menu_section {
        padding-bottom: 76px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .category_header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding-inline: 0;

        .category_icon_small {
            height: 60px;
            width: auto;
            display: unset;
            margin-top: -60px;
            transform: translateY(10%);
        }

        .category_icon_big {
            display: none;
        }

        .headline_category {
            height: 38px;
            text-align: center;

            .sandwich {
                display: none;
            }
        }
    }

    .basket {
        height: 662px;
        max-height: 90vh;
        overflow-y: auto;
        width: 90%;
        max-width: 580px;
        position: fixed;
        bottom: 77px;
        top: unset;
        right: unset;
        left: 50%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
        padding-block: clamp(25px, calc(18.182px + 2.131vw), 40px);
        padding-inline: clamp(20px, calc(1.818px + 5.682vw), 60px);
        overscroll-behavior: none;
        transform: translateX(-50%);

        .basket_wrapper {
            height: 583px;
            width: 100%;
            align-items: center;
            gap: 16px;

            .basket_container {
                width: 100%;
                gap: 16px;

                .basket_items {
                    height: 333px;
                    overscroll-behavior: contain;

                    .item_card {
                        width: 98%;
                        padding: clamp(20px, calc(17.727px + 0.71vw), 25px);

                        .menu_title {
                            width: 100%;
                            gap: 20px;
                        }

                        .menu_info {
                            width: 100%;
                        }
                    }
                }

                .checkout {
                    height: 203px;
                    justify-content: unset;
                    gap: 8px;

                    .subtotal_box {
                        height: 56px;
                        width: 100%;
                    }

                    .total_box {
                        height: 113px;
                        width: 100%;

                        .total {
                            width: 100%;
                        }

                        .order_btn {
                            height: 53px;
                            width: 233px;
                            padding: 12px;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }

    .dialog_wrapper {
        height: 255px;
        width: 300px;

        .dialog_content {
            height: 255px;
            gap: 16px;
            padding-inline: 15px;
            padding-bottom: 40px;
            padding-top: 30px;
            justify-content: space-between;

            dialog_btn {
                padding-right: 20px;
            }

            .dialog_confirm {
                height: 141px;
                width: 270px;

                h5 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.35rem;
                }
            }
        }
    }

    .display_basket {
        display: none;
    }

    .overscroll_stop {
        overflow: hidden;
    }
}

/* #region dishes */

@media screen and (min-width: 1025px) and (max-width: 1055px) {
    .dishes {
        article {
            height: 153px;

            /* .dish_image {
                height: 100%
            } */
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
    .dishes {
        padding: 0;

        article {
            width: clamp(660px, calc(158.765px + 71.605vw), 892px);

            .dish_image {
                height: 100%;
                width: clamp(207px, calc(47.169px + 20.784vw), 260px);

                img {
                    height: 100%;
                    width: clamp(207px, calc(47.169px + 20.784vw), 260px);
                }
            }

            .dish_info {
                height: 100%;
                width: 100%;
                justify-content: space-between;

                .dish_title {
                    width: clamp(300px, calc(183.333px + 16.667vw), 354px);

                    p {
                        width: clamp(280px, calc(152.531px + 18.21vw), 339px);
                    }
                }
            }
        }
    }
}

/* @media screen and (min-width: 700px) and (max-width: 768px) {
    .dishes {
        padding-inline: 20px;
        align-items: center;

        article {
            height: fit-content;
            width: 660px;
            gap: 8px;

            .dish_info {
                height: 120px;
                width: 100%;
                justify-content: space-between;

                .dish_title {
                    width: 260px;

                    p {
                        width: 100%;
                    }
                }

                .dish_price_add {
                    width: 120px;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
} */

/* @media screen and (min-width: 588px) and (max-width: 699px) {
    .dishes {
        padding-inline: 20px;
        align-items: center;

        article {
            height: fit-content;
            width: clamp(280px, calc(-40px + 100vw), 728px);
            gap: 8px;

            .dish_info {
                height: 120px;
                width: 100%;
                flex-direction: column;
                justify-content: flex-end;

                .dish_title {
                    width: clamp(260px, calc(-54.182px + 98.182vw), 314px);

                    p {
                        width: 100%;
                    }
                }

                .dish_price_add {
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
} */

@media screen and (max-width: 699px) {
    .dishes {
        padding-inline: 20px;
        align-items: center;

        article {
            height: fit-content;
            width: clamp(280px, calc(-40px + 100vw), 728px);
            flex-direction: column;
            gap: 8px;

            .dish_image {
                height: clamp(86px, calc(33.266px + 16.479vw), 130px);
                width: 100%;

                img {
                    height: clamp(86px, calc(33.266px + 16.479vw), 130px);
                    width: 100%;
                }
            }

            .dish_info {
                height: fit-content;
                width: 100%;
                flex-direction: column;
                justify-content: flex-end;
                gap: 20px;

                .dish_title {
                    width: clamp(260px, calc(-54.182px + 98.182vw), 314px);

                    p {
                        width: 100%;
                    }
                }

                .dish_price_add {
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}

/* #endregion */
