@media screen and (min-width: 1441px) {
    .header_main {
        padding: 0px max(40px, calc(50% - 720px)) 0px max(120px, calc(50% - 720px));
    }

    .content_hero {
        padding: 0px max(0px, calc(50% - 720px));
    }

    .content {
        padding: 30px max(0px, calc(50% - 720px)) 0px;
    }

    .imprint {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .logo_menu {
        display: none;
    }

    .footer_main {
        margin-bottom: 78px;

        .footer_content {
            flex-direction: column-reverse;
            gap: 8px;
        }
    }

    .imprint {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .hero_section {
        height: 640px;
        margin: 0;
        gap: 106px;
        padding: 24px 16px 32px;

        .hero_background {
            height: 346px;
            width: clamp(288px, calc(-32px + 100vw), 343px);
            transform: none;

            .background_image {
                height: 346px;
                width: clamp(288px, calc(-32px + 100vw), 343px);
                border-radius: 16px;
                object-fit: left;

                .burger_logo {
                    transform: translateY(50%);
                }
            }
        }

        .hero_content {
            gap: 10px;

            .heading_box {
                height: 97px;
                width: 320px;
                flex-direction: column-reverse;
                align-items: center;
                gap: 20px;
            }
        }
    }

    .menu_section {
        padding-bottom: 76px;
    }

    .category_header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding: 0;

        .category_icon_small {
            height: 60px;
            width: auto;
            display: unset;
            margin-top: -60px;
            transform: translateY(10%);
        }

        .category_icon_big {
            display: none;
        }

        .headline_category {
            height: 38px;
            text-align: center;

            .sandwich {
                display: none;
            }
        }
    }

    .dishes {
        padding-inline: 20px;

        article {
            height: fit-content;
            width: clamp(280px, calc(-40px + 100vw), 335px);
            flex-direction: column;
            gap: 8px;

            .dish_image {
                height: 86px;
                width: 100%;

                img {
                    height: 86px;
                    width: 100%;
                }
            }

            .dish_info {
                height: fit-content;
                width: 100%;
                flex-direction: column;
                justify-content: flex-end;

                .dish_title {
                    width: clamp(260px, calc(-54.182px + 98.182vw), 314px);

                    p {
                        width: 100%;
                    }
                }

                .dish_price_add {
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }

    .basket {
        display: none;
    }
}
