@media screen and (min-width: 1441px) {
    .header_main {
        padding: 0px max(40px, calc(50% - 720px)) 0px max(120px, calc(50% - 720px));
    }

    .content_hero {
        padding: 0px max(0px, calc(50% - 720px));
    }

    .content {
        padding: 30px max(0px, calc(50% - 720px)) 0px;
    }
}

@media screen and (max-width: 768px) {
}
