:root {
    --font-color: rgba(54, 53, 52, 1);
    --font-color-light: rgba(255, 255, 255, 1);
    --font-color-medium: rgba(114, 109, 109, 1);
    --font-color-highlight: rgba(231, 108, 31, 1);
    --font-color-basket: rgba(253, 234, 220, 1);
    --font-color-Buy-now: rgba(251, 251, 251, 1);

    --background-color-theme: rgba(231, 108, 31, 1);
    --background-color-light: rgba(253, 234, 220, 1);
    --background-color-dark: rgba(54, 53, 52, 1);
    --background-color-rating: rgba(250, 202, 172, 1);
    --background-color-hover: rgba(255, 255, 255, 1);
    --background-color-scroll: rgba(231, 195, 173, 1);

    --height-header-footer: clamp(80px, calc(65.714px + 4.464vw), 130px);
    --height-food-icon: clamp(60px, calc(51.429px + 2.679vw), 90px);
    --height-main-logo: clamp(120px, calc(97.143px + 7.143vw), 200px);
    --content-padding-left: clamp(20px, calc(-8.571px + 8.929vw), 120px);
    --footer-padding-bottom: clamp(22px, calc(19.143px + 0.893vw), 32px);
    --basket-padding-left: clamp(20px, calc(17.143px + 0.893vw), 30px);
    --basket-padding-block: clamp(40px, calc(34.286px + 1.786vw), 60px);
}
